# SPDX-License-Identifier: GPL-2.0
# Audio subsystem clock support for Cixtech SoC family
menu "Clock support for Cixtech audss"

config CLK_SKY1_ACPI
	tristate "CIX Sky1 ACPI clock lookup table support"
	depends on ACPI && COMMON_CLK_SCMI
	depends on ARM64
	default ARCH_CIX
	help
	  Parses CLKT tables in the CIX Sky1 DSDT to connect ACPI
	  consumer devices with SCMI-provided clocks. Required for
	  ACPI boot on Sky1 SoCs.

config CLK_SKY1_AUDSS
	tristate "Cixtech Sky1 Audio Subsystem Clock Driver"
	depends on ARCH_CIX || COMPILE_TEST
	select AUXILIARY_BUS
	select REGMAP_MMIO
	select RESET_CONTROLLER
	help
	  Support for the Audio Subsystem clock controller present on
	  Cixtech Sky1 SoC. This driver provides mux, divider and gate
	  clocks for DSP, I2S, HDA and related blocks in the audio
	  subsystem. Say M or Y here if you want to build this driver.
endmenu
